:host {
  display: block;
}

.iconDelete:hover{
  color: red;
}

.completeColor {
  background-color: rgb(60, 255, 190);
}

.list-group-item label {
  flex: 1;
  word-wrap: break-word; 
  word-break: break-all;
  white-space: normal; 
}
